In [1]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

In [3]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [4]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

In [5]:
# Try to see built-in error message

print("Hello, Python!)

SyntaxError: unterminated string literal (detected at line 3) (3628399183.py, line 3)

In [6]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [7]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print('Hello,world!')

Hello,world!

In [8]:
# Integer

11

11

In [9]:
# Float

2.14

2.14

In [10]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [11]:
# Type of 12

type(12)

int

In [12]:
# Type of 2.14

type(2.14)

float

In [13]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

In [14]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [15]:
# Print the type of -1

type(-1)

int

In [16]:
# Print the type of 4

type(4)

int

In [17]:
# Print the type of 0

type(0)

int

<h4 id="convert">Converting from one object type to a different object type</h4>

In [18]:
# Verify that this is an integer

type(2)

int

In [19]:
type(float(2))

float

In [20]:
int(1.1)

1

<h4>Converting from strings to integers or floats</h4>

In [21]:
int('1')

1

In [22]:
int('1 or 2 People')

ValueError: invalid literal for int() with base 10: '1 or 2 People'

In [ ]:

float('1.2')

<h4>Converting numbers to strings</h4>

In [23]:
str(1)

'1'

In [24]:
str(1.2)

'1.2'

<h3> Boolean data type </h3>

In [25]:
True

True

In [26]:
False

False

In [27]:
type(True)

bool

In [28]:
type(False)

bool

In [29]:
int(True)

1

In [30]:
bool(1)

True

In [31]:
bool(0)

False

In [32]:
float(True)

1.0

<h2 id="expressions">Expression and Variables</h2>

In [33]:

21 + 32 + 47 + 38

138

In [34]:
30 - 40

-10

In [35]:
5*5

25

In [36]:

36 / 6

6.0

In [37]:
36 / 7

5.142857142857143

In [38]:

36 // 6

6

In [39]:
36 // 5

7

In [40]:
20+2*3

26

In [41]:
(20+2)*3

66

<h3 id="var">Variables</h3>

In [42]:
a = 21 + 32 + 47 + 38
a

138

In [43]:
b = a / 20
b

6.9

In [44]:
a = a/30
a

4.6

In [45]:
total_minutes = 43 + 42 + 57 # Total length of albums in minutes
total_minutes

142

In [46]:


total_hours = total_minutes / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [47]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

<h1> Strings </h1>

In [48]:
# Use quotation marks for defining string
'Periyar'

'Periyar'

In [49]:
# Use double quotation marks for defining string
"Aringar Anna"

'Aringar Anna'

In [50]:
# Use triple quotation marks for defining string
'''Kalaignar'''

'Kalaignar'

In [51]:
# Digitals and spaces in string

'1 2 3 4 5 6 '
k = '1 2 3 4 5 6 '

In [52]:
type(k)

str

In [53]:
# Special characters in string
g = '@#2_#]&*^%$'

In [54]:
type(g)

str

In [55]:
print("hello!")

hello!

In [56]:
# Assign string to variable
Anna = "Peraringar Anna"
Anna

'Peraringar Anna'

<h2 id="index">Indexing</h2>

In [57]:
# Print the first element in the string
print(Anna[0])

P

In [58]:
# Print the element on index 6 in the string
print(Anna[6])

n

In [59]:
# Print the element on the 13th index in the string
print(Anna[10])

<h2 id="index">Negative Indexing</h2>

In [60]:
# Print the last element in the string
print(Anna[-1])

a

In [61]:
# Print the first element in the string
print(Anna[-15])

P

In [62]:
# Find the length of string
len(Anna)

15

<h3 id="slice">Slicing</h3>

In [63]:
# Take the slice on variable name with only index 0 to index 10
Anna[0:10]

'Peraringar'

In [64]:
# Take the slice on variable name with only index 11 to index 15
Anna[11:15]

'Anna'

<h3 id="stride">Stride</h3>

In [65]:
    # Get every second element. The elments on index 1, 3, 5 ...
Anna[::2]

'Prrna na'

In [66]:
# Get every second element in the range from index 0 to index 4
Anna[0:5:3]

'Pa'

<h3 id="concat">Concatenate Strings</h3>

In [67]:

Stmt = Anna  +" "+ "is the best"
Stmt

'Peraringar Anna is the best'

In [68]:
3 * "Kalignar"

'KalignarKalignarKalignar'

In [69]:

name = "Kalaignar"
name = name + " is the best"
name

'Kalaignar is the best'

<h2 id="escape">Escape Sequences</h2>

In [70]:
# New line escape sequence

print("Kalaignar \n is the best" )

Kalaignar
 is the best

In [71]:
# Tab escape sequence
print("Kalaignar \t is the best" )

Kalaignar 	 is the best

If you want to place a back slash in your string, use a double back slash:

In [72]:
# Include back slash in string
print("Kalaignar \\ is the best" )

Kalaignar \ is the best

We can also place an "r" before the string to display the backslash:

In [73]:
# r will tell python that string will be display as raw string
print(r"Kalaignar ''\\ is the best" )

Kalaignar ''\\ is the best

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [74]:
# Convert all the characters in string to upper case

a = "Anna is the firt Chief minister of Tamilnadu"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Anna is the firt Chief minister of Tamilnadu
After upper: ANNA IS THE FIRT CHIEF MINISTER OF TAMILNADU

In [75]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Anna is the DMK president"
b = a.replace('Anna', 'Kalaignar')
b

'Kalaignar is the DMK president'

In [76]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
Anna = 'Aringar Anna'
Anna.find('A')

0

In [77]:
# Find the substring in the string.
Anna.find('Anna')

8

In [79]:
# If cannot find the substring in the string
Anna.find('ksjehnhaiijaoprf')

-1