## CONDITION

In [91]:
# Condition Equal

a = 5
a == 6

False

In [92]:
# Greater than Sign

i = 6
i > 5

True

In [93]:
# Greater than Sign

i = 2
i > 5

False

In [94]:
# Inequality Sign

i = 2
i != 6

True

In [95]:
# Inequality Sign

i = 6
i != 6

False

In [96]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [97]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [98]:
# Compare characters

'B' > 'A'

True

In [99]:
# Compare characters

'BA' > 'AB'

True

In [101]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [102]:
# Else statement example

age = 18
#age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [103]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [112]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

Album year is greater than 1980
do something..

In [105]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [106]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print( "Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [113]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [114]:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

In [115]:
# Write your code below and press Shift+Enter to execute
rating = 8.5

if rating > 8:
    print('This album is amazing')

This album is amazing

In [110]:
# Write your code below and press Shift+Enter to execute
rating = 8.5
if rating > 8:
    print('This album is amazing')
else:
    print('this album is ok')

This album is amazing

In [111]:
# Write your code below and press Shift+Enter to execute
album_year = 1979

if album_year < 1980 or album_year == 1991  or album_year == 1993:
    print('the album came out in the year',album_year)

the album came out in the year 1979

## Loops

### for loop

In [116]:
range(3)

range(0, 3)

In [2]:
#For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print (dates[i])

1982
1980
1973

In [119]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [120]:
# Exmaple of for loop, loop through list

for year in dates:  
    print(year)

1982
1980
1973

In [124]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [126]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, u in enumerate(squares):
    print(i, u)

0 red
1 yellow
2 green
3 purple
4 blue

### While Loop

In [127]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

In [128]:
# Write your code below and press Shift+Enter to execute
for i in range(-5,6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [129]:
# Write your code below and press Shift+Enter to execute
Genres = ['rock','R&B','Soundtrack','R&B','soul','pop']

for h in Genres:
    print (h)

rock
R&B
Soundtrack
R&B
soul
pop

In [134]:
# Write your code below and press Shift+Enter to execute
squares=['red', 'yellow', 'green', 'purple', 'blue']

for square in squares:
    print(square)

red
yellow
green
purple
blue

In [135]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i=0
rating = PlayListRatings[0]

while  (i < len(PlayListRatings) and rating >= 6):
    print(rating)
    i=i+1
    rating = PlayListRatings[i]

10
9.5
10
8
7.5

In [136]:
# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

## Functions

In [137]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [139]:
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [138]:
add(1)

1 if you add one 2

2

In [140]:
add(2)

2 if you add one 3

3

In [141]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [142]:
# Use mult() multiply two integers

Mult(2, 3)

6

In [143]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [144]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

### Variables

In [145]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [146]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [147]:
# Directly enter a number as parameter

square(2)

2 if you square + 1 5

5

In [148]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [150]:
MJ()

Michael Jackson

In [151]:
MJ1()

Michael Jackson

In [152]:
# See what functions returns are

print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [153]:
# Define the function for combining strings

def con(a, b):
    return(a + b)

In [154]:
# Test on the con() function

con("This ", "is")

'This is'

<h3 id="simple">Functions Make Things Simple</h3>

Consider the two lines of code in <b>Block 1</b> and <b>Block 2</b>: the procedure for each block is identical. The only thing that is different is the variable names and values.

<h4>Block 1:</h4>

In [156]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

<h4>Block 2: </h4>

In [157]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

We can replace the lines of code with a function. A function combines many instructions into a single line of code. Once a function is defined, it can be used repeatedly. You can invoke the same function many times in your program. You can save your function and use it in another program or use someone else’s function. The lines of code in code <b>Block 1</b> and code <b>Block 2</b> can be replaced by the following function:

In [160]:

# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

This function takes two inputs, a and b, then applies several operations to return c.
We simply define the function, replace the instructions with the function, and input the new values of <code>a1</code>, <code>b1</code> and <code>a2</code>, <code>b2</code> as inputs. The entire process is demonstrated in the figure:

<h4>Block 3:</h4>

In [163]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

<h4>Block 4:</h4>

In [164]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

## Predeined Functions

In [167]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [168]:
# Use sum() to add every element in a list or tuple together

sum(album_ratings)

70.0

In [169]:
len(album_ratings)

8

<h2 id="if">Using <code>if</code>/<code>else</code> Statements and Loops in Functions</h2>


The <code>return()</code> function is particularly useful if you have any IF statements in the function, when you want your output to be dependent on some condition:

In [173]:
def type_of_album(artist, album, year_of_release):
    print(artist, album, year_of_release)
    if year_of_release > 2020:
        return "Modern"
    else:
        return "Oldie"

In [174]:
type_of_album('Kamal','Vikram',2022)

Kamal Vikram 2022

'Modern'

In [175]:
type_of_album('Kamal','Vikram',1986)

Kamal Vikram 1986

'Oldie'

In [177]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)

In [179]:
PrintList(['Karunasgar',1996,20.5])

Karunasgar
1996
20.5

<h2 id="if">String comparison in Functions</h2>

The relational operators compare the Unicode values of the characters of the strings from the zeroth index till the end of the string. It then returns a boolean value according to the operator used.

In [185]:
#Compare Two Strings Directly using in operator
# add string
string = "Kalaignar is the my Leader"

#Define a function
def check_string(text):
    
# Use if else statement and 'in' operatore to compare the string
    if text in string:
        return "String Matched"
    else:
        return "String not Matched"

In [191]:
check_string("Leader")

'String Matched'

This program uses a user-defined function named compareStrings() to compare two strings. 

This function receives both strings as its argument and returns 1 if both strings are equal using == operator

In [197]:
#Compare two strings using == operator and function
def compareStrings(x, y):
# Use if else statement to compare x and y
    if x==y:
        return 1
    
# Declare two different variables as string1 and string2 and pass string in it
string1 = "Kalaignar is the best"
string2 = "Kalaignar is the best"
    
# Declare a variable to store result after comparing both the strings
check = compareStrings(string1, string2)   

#Use if else statement to compare the string
if check==1:
    print("String Matched")
else:
    print("String not Matched")

String Matched

**Count the Frequency of Words Appearing in a String Using a Dictionary.** 

Find the count of occurence of any word in our string using python. This is what we are going to do in this section, count the number of word in a given string and print it.

Lets suppose we have a ‘string’ and the ‘word’ and we need to find the count of occurence of this word in our string using python. This is what we are going to do in this section, count the number of word in a given string and print it. 

The first thing, we will do is define a function and and then create a list that will be empty initially.

Next, we will add a code to convert the string to a list. Python string has a split() method. It takes a string and some separator to return a list.

Now we will declare an empty dictionary.

Next we will add code using for loop to iterate the words and value will will count the frequency of each words in the string and store them to the dictionary.

Finally we will print the dictionary.

In [209]:
# Python Program to Count words in a String using Dictionary
def freq(string):
    
    #step1: A list variable is declared and initialized to an empty list.
    words = []
    
    #step2: Break the string into list of words
    words = string.lower().split() # or string.lower().split()
    
    #step3: Declare a dictionary
    Dict = {}
    
    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        Dict[key] = words.count(key)
        
    #step5: Print the dictionary
    print("The Frequency of words is:",Dict)
    
#step6: Call function and pass string in it
freq("Karunasagar is an Engineer and also die hard dravidian ideologe follwer. He admit Mr.Kalaignar as his leader and also he saw Thanthai Periyar and Aringar Anna are the Guiding and driving force for him")

The Frequency of words is: {'karunasagar': 1, 'is': 1, 'an': 1, 'engineer': 1, 'and': 4, 'also': 2, 'die': 1, 'hard': 1, 'dravidian': 1, 'ideologe': 1, 'follwer.': 1, 'he': 2, 'admit': 1, 'mr.kalaignar': 1, 'as': 1, 'his': 1, 'leader': 1, 'saw': 1, 'thanthai': 1, 'periyar': 1, 'aringar': 1, 'anna': 1, 'are': 1, 'the': 1, 'guiding': 1, 'driving': 1, 'force': 1, 'for': 1, 'him': 1}

<h2 id="default">Setting default argument values in your custom functions</h2>

You can set a default value for arguments in your function. For example, in the <code>isGoodRating()</code> function, what if we wanted to create a threshold for what we consider to be a good rating? Perhaps by default, we should have a default rating of 4:

In [210]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [211]:

isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

<h2 id="global">Global variables</h2>


So far, we've been creating variables within functions, but we have not discussed variables outside the function. These are called global variables. <br>
Let's try to see what <code>printer1</code> returns:

In [215]:
# Example of global variable

artist = "Sivaji Ganesan"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
    
printer1(artist)
# try runningthe following code
#printer1(internal_var1)

Sivaji Ganesan is an artist

In [216]:
printer1(internal_var1)

NameError: name 'internal_var1' is not defined

<b>We got a Name Error:  <code>name 'internal_var' is not defined</code>. Why?</b>

It's because all the variables we create in the function is a <b>local variable</b>, meaning that the variable assignment does not persist outside the function.

But there is a way to create <b>global variables</b> from within a function as follows:

In [217]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [219]:
internal_var

'Whitney Houston'

<h2 id="scope">Scope of a Variable</h2>

The scope of a variable is the part of that program where that variable is accessible. Variables that are declared outside of all function definitions, such as the <code>myFavouriteBand</code> variable in the code shown here, are accessible from anywhere within the program. As a result, such variables are said to have global scope, and are known as global variables. <code>myFavouriteBand</code> is a global variable, so it is accessible from within the <code>getBandRating</code> function, and we can use it to determine a band's rating. We can also use it outside of the function, such as when we pass it to the print function to display it:

In [218]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

Take a look at this modified version of our code. Now the <code>myFavouriteBand</code> variable is defined within the <code>getBandRating</code> function. A variable that is defined within a function is said to be a local variable of that function. That means that it is only accessible from within the function in which it is defined. Our <code>getBandRating</code> function will still work, because <code>myFavouriteBand</code> is still defined within the function. However, we can no longer print <code>myFavouriteBand</code> outside our function, because it is a local variable of our <code>getBandRating</code> function; it is only defined within the <code>getBandRating</code> function:

In [220]:
# Deleting the variable "myFavouriteBand" from the previous example to demonstrate an example of a local variable 

del myFavouriteBand

# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

AC/DC's rating is:  10.0
Deep Purple's rating is:  0.0

NameError: name 'myFavouriteBand' is not defined

In [221]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

<hr>
<h2 id ="collec"> Collections and Functions</h2>

When the number of arguments  are unknown for a function, They can all be packed into a tuple as shown:

In [222]:
def printall(*args):
    print('No.of.argguments:',len(args))
    for argument in args:
        print(argument)

In [223]:
printall('Karunasagar',1,3.5,'Elavarasi')

No.of.argguments: 4
Karunasagar
1
3.5
Elavarasi

Similarly, The arguments can also be packed into a dictionary as shown:

In [226]:
def printdictionary(**args):
    for key in args:
        print(key+" : "+args[key])

In [227]:
printdictionary(Country='India',State='Tamilnadu',City='Dindigul',Taluk='Oddanchathram',Panchayat='Mandavadi',Village='C.K.Valasu')

Country : India
State : Tamilnadu
City : Dindigul
Taluk : Oddanchathram
Panchayat : Mandavadi
Village : C.K.Valasu

Functions can be incredibly powerful and versatile. They can accept (and return) data types, objects and even other functions as arguements. Consider the example below:

In [229]:
def additems(list):
    list.append('Three')
    list.append('Four')
    
myList = ['One','Two']

additems(myList)

In [230]:
myList

['One', 'Two', 'Three', 'Four']

Come up with a function that divides the first input by the second input:

In [241]:
# Write your code below and press Shift+Enter to execute
def num(a,b):
    c = a/b
    return c

In [242]:
num(6,5)

1.2

In [243]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

In [246]:
con('Karuna','sagar')

'Karunasagar'

In [248]:
# Write your code below and press Shift+Enter to execute
a= con(2,3)
b=con('KS','ELa')
print(a)
print(b)

5
KSELa